<div class="student-tab-background-shapes" aria-hidden="true">
    <span style="--shape-left: 78%; --shape-size: 40px; --shape-color: #38bdf8; --shape-delay: 0s; --shape-duration: 12s;"></span>
    <span style="--shape-left: 12%; --shape-size: 54px; --shape-color: #fbbf24; --shape-delay: 2s; --shape-duration: 15s;"></span>
    <span class="shape-star" style="--shape-left: 91%; --shape-size: 60px; --shape-color: #f472b6; --shape-delay: 4s; --shape-duration: 14s;"></span>
    <span class="shape-square" style="--shape-left: 35%; --shape-size: 44px; --shape-color: #a78bfa; --shape-delay: 6s; --shape-duration: 17s;"></span>
    <span style="--shape-left: 64%; --shape-size: 66px; --shape-color: #34d399; --shape-delay: 8s; --shape-duration: 15s;"></span>
    <span class="shape-diamond" style="--shape-left: 5%; --shape-size: 48px; --shape-color: #fb7185; --shape-delay: 10s; --shape-duration: 13s;"></span>
    <span style="--shape-left: 47%; --shape-size: 46px; --shape-color: #60a5fa; --shape-delay: 12s; --shape-duration: 16s;"></span>
    <span class="shape-square" style="--shape-left: 83%; --shape-size: 58px; --shape-color: #f59e0b; --shape-delay: 14s; --shape-duration: 14s;"></span>
    <span class="shape-diamond" style="--shape-left: 22%; --shape-size: 38px; --shape-color: #c084fc; --shape-delay: 16s; --shape-duration: 18s;"></span>
    <span style="--shape-left: 97%; --shape-size: 52px; --shape-color: #2dd4bf; --shape-delay: 18s; --shape-duration: 15s;"></span>
    <span style="--shape-left: 58%; --shape-size: 42px; --shape-color: #fb7185; --shape-delay: 20s; --shape-duration: 12s;"></span>
    <span class="shape-diamond" style="--shape-left: 16%; --shape-size: 44px; --shape-color: #facc15; --shape-delay: 22s; --shape-duration: 16s;"></span>
    <span style="--shape-left: 72%; --shape-size: 56px; --shape-color: #f472b6; --shape-delay: 24s; --shape-duration: 14s;"></span>
    <span class="shape-square" style="--shape-left: 3%; --shape-size: 62px; --shape-color: #60a5fa; --shape-delay: 26s; --shape-duration: 17s;"></span>
    <span class="shape-diamond" style="--shape-left: 88%; --shape-size: 46px; --shape-color: #fbbf24; --shape-delay: 28s; --shape-duration: 13s;"></span>
    <span style="--shape-left: 41%; --shape-size: 58px; --shape-color: #34d399; --shape-delay: 30s; --shape-duration: 18s;"></span>
    <span class="shape-star" style="--shape-left: 68%; --shape-size: 70px; --shape-color: #c084fc; --shape-delay: 32s; --shape-duration: 15s;"></span>
    <span style="--shape-left: 27%; --shape-size: 50px; --shape-color: #fb7185; --shape-delay: 34s; --shape-duration: 14s;"></span>
</div>
