{% extends "pabasa_app/practice_reader_base.html" %}

{% block page_title %}Story Practice{% endblock %}
{% block mode_class %}practice-paragraph{% endblock %}
{% block data_mode %}paragraph{% endblock %}
{% block eyebrow %}Practice mode{% endblock %}
{% block heading %}Story Challenge{% endblock %}
{% block badge %}P{% endblock %}
{% block coach_title %}Read in little chunks.{% endblock %}
{% block coach_text %}Use the periods as rest stops. Read one sentence group, breathe, then continue.{% endblock %}
{% block mark %}story{% endblock %}
{% block counter %}Story 1/5{% endblock %}
{% block initial_text %}Si Maya ay may bagong aklat. Binasa niya ito nang dahan-dahan. Masaya siyang natuto ng bagong salita.{% endblock %}
