{% extends "pabasa_app/reading_assessment_base.html" %}
{% load static %}

{% block page_title %}Paragraph Reading Assessment{% endblock %}
{% block mode_class %}reader-paragraph{% endblock %}
{% block level_mark %}P{% endblock %}
{% block completion_level %}Paragraph{% endblock %}
{% block eyebrow %}Paragraph reading assessment{% endblock %}
{% block counter_text %}Paragraph 1/10{% endblock %}
{% block content_class %}content-paragraph{% endblock %}
{% block watermark %}para{% endblock %}
{% block helper_text %}Read by sentence groups. Pause a little at periods.{% endblock %}
{% block initial_text %}Maagang pumasok si Ana sa paaralan upang magbasa kasama ang kaniyang guro. Tahimik siyang umupo at dahan-dahang binigkas ang bawat salita. Dahil sa araw-araw na praktis, mas naging malinaw at mabilis ang kaniyang pagbasa.{% endblock %}
{% block script %}<script src="{% static 'pabasa_app/js/reading_para_page.js' %}?v=completion"></script>{% endblock %}
