{% extends "pabasa_app/reading_assessment_base.html" %}
{% load static %}

{% block page_title %}Sentence Reading Assessment{% endblock %}
{% block mode_class %}reader-sentence{% endblock %}
{% block level_mark %}S{% endblock %}
{% block completion_level %}Sentence{% endblock %}
{% block eyebrow %}Sentence reading assessment{% endblock %}
{% block counter_text %}Sentence 1/10{% endblock %}
{% block content_class %}content-sentence{% endblock %}
{% block watermark %}sent{% endblock %}
{% block helper_text %}Read the whole sentence smoothly from left to right.{% endblock %}
{% block initial_text %}Si Ana ay nagbabasa ng aklat.{% endblock %}
{% block script %}<script src="{% static 'pabasa_app/js/reading_sentence_page.js' %}?v=completion"></script>{% endblock %}
