{% extends "pabasa_app/reading_assessment_base.html" %}
{% load static %}

{% block page_title %}Word Reading Assessment{% endblock %}
{% block mode_class %}reader-word{% endblock %}
{% block level_mark %}W{% endblock %}
{% block completion_level %}Word{% endblock %}
{% block eyebrow %}Word reading assessment{% endblock %}
{% block counter_text %}Word 1/10{% endblock %}
{% block content_class %}content-word{% endblock %}
{% block watermark %}word{% endblock %}
{% block helper_text %}Look at the word, breathe, then read it out loud.{% endblock %}
{% block initial_text %}Loading materials...{% endblock %}
{% block script %}<script src="{% static 'pabasa_app/js/assessment_reader.js' %}?v={% now 'U' %}"></script>{% endblock %}
