{% extends "pabasa_app/reading_assessment_base.html" %}
{% load static %}

{% block page_title %}Paragraph Reading Assessment{% endblock %}
{% block mode_class %}reader-paragraph{% endblock %}
{% block level_mark %}P{% endblock %}
{% block completion_level %}Paragraph{% endblock %}
{% block eyebrow %}Paragraph reading assessment{% endblock %}
{% block counter_text %}Paragraph 1/10{% endblock %}
{% block content_class %}content-paragraph{% endblock %}
{% block watermark %}para{% endblock %}
{% block helper_text %}Read by sentence groups. Pause a little at periods.{% endblock %}
{% block initial_text %}Loading materials...{% endblock %}
{% block script %}<script src="{% static 'pabasa_app/js/assessment_reader.js' %}?v={% now 'U' %}"></script>{% endblock %}
